<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>О TechFix</title>	
    
    <link rel="stylesheet" href="static/CSS/style.css"/>
    <link rel="stylesheet" href="static/CSS/responsiveStyle.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"/>
</head>

<body>
    {% include 'header.html' %}

    <main>
        <section>
            <h1 class="large-text" style="text-align: center; margin-bottom: 15px;">О нас</h1>

            <h2 class="middle-text">Добро пожаловать в нашу компанию! Мы - инновационная организация, специализирующаяся на разработке и поставке программных решений для управления предприятиями по ремонту электротехники и продаже комплектующих.</h2>

            <h2 class="large-text">Наша миссия:</h2>
            <p class="middle-text">Мы стремимся упростить и оптимизировать бизнес-процессы в сфере ремонта электротехники и продажи комплектующих. Наша цель - помочь предприятиям повысить эффективность, управляемость и рентабельность своего бизнеса.</p>
            
            <h2 class="large-text">Наши продукты:</h2>
            <p class="middle-text">Наша команда высококвалифицированных разработчиков создала передовое программное средство, способное автоматизировать и упростить процессы управления ремонтом электротехники и продажей комплектующих. Наше программное средство обеспечивает точный учет запасов, эффективное планирование работ, автоматизацию процесса заказов и контроль качества. Благодаря нашему решению, вы сможете сосредоточиться на развитии бизнеса, снизить издержки и повысить уровень обслуживания своих клиентов.</p>

            <h2 class="large-text">Партнерство:</h2>
            <p class="middle-text">Мы готовы сотрудничать с предприятиями различных масштабов в сфере ремонта электротехники и продажи комплектующих. Мы стремимся к долгосрочным партнерским отношениям, основанным на взаимном доверии, взаимной выгоде и профессионализме.</p>

            <h2 class="large-text">Поддержка и обучение:</h2>
            <p class="middle-text">Мы предоставляем надежную техническую поддержку нашим клиентам, чтобы обеспечить бесперебойную работу нашего программного средства. Также мы предлагаем обучение и консультации по использованию программного средства, чтобы максимально раскрыть его потенциал и помочь вашему бизнесу достичь успеха.</p>       

			<h2 class="large-text">Наше местоположение:</h2>
			<div id="map" class="map">
				
			</div>
			</section>
    </main>

    {% include 'footer.html' %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey={{MAP_TOKEN}}&lang=ru_RU"></script>
    <script src="static/JS/index.js"></script>
	<script src="static/JS/about.js"></script>
</body>
</html>