<footer>
    <div class="horizontal-container5" style="color: white">
        <div class="vertical-container2">
            <a href="{{url_for('index')}}">
                <img class="img-logo" src="static/IMG/Logo2.png">
            </a>
            
            <p class="middle-text" style="width: 55%"> Просто, удобно, всё под контролем! </p>

            <div>
                <a href="#">
                    <img class="img-soc-network" src="static/IMG/tg.png">
                </a>
                <a href="#">
                    <img class="img-soc-network" src="static/IMG/vk.png">
                </a>
                <a href="#">
                    <img class="img-soc-network" src="static/IMG/fb.png">
                </a>
            </div>
        </div>

        <ul class="vertical-container2">
            <li>
                <a href="{{url_for('about')}}" class="navigation-button">О нас</a>
            </li>
            <li>
                <a href="{{url_for('about')}}" class="navigation-button">ООО “TechFIX”</a>
            </li>
            <li>
                <a href="#" class="navigation-button">ИНН</a>
            </li>
            <li>
                <a href="{{url_for('FAQ')}}" class="navigation-button">Поддержка</a>
            </li>
            <li>
                <a href="#" class="navigation-button">КПП</a>
            </li>
            <li>
                <a href="#" class="navigation-button">ОГРН</a>
            </li>
            <li>
                <a href="#" class="navigation-button">Email</a>
            </li>
        </ul>

        <div class="vertical-container2" style="align-items: end;">
            <a href="{{url_for('FAQ')}}" class="button-form white-button">Написать</a>
            <a href="#" class="button-form orange-button">Оставить заявку</a>
            <p>© Акберов Артур 2023</p>	
        </div>
    </div>
</footer>