<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Зарегистрироваться</title>

	<link rel="stylesheet" href="static/CSS/style.css"/>
	<link rel="stylesheet" href="static/CSS/responsiveStyle.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"/>
	
	<link rel="stylesheet" href="static/assets/dist/css/bootstrap.min.css"/>
	
	<script src="static/JS/index.js"></script>
</head>

<body >
	{% include 'header.html' %}

	<section class="container">
		<div class="text-center">
			<h1>Регистрация</h1>
			<p class="lead">На данной странице вы сможете зарегистрироваться на нашем сайте.</p>
		</div>

		<div class="row g-5">
			<div>
				{% for cat, msg in get_flashed_messages(True) %}
				<div class="flash {{cat}}">{{msg}}</div>
				{% endfor %}
				<form class="" action="/register" method="POST">
					<div class="row g-3">
						<div class="col-sm-6">
							<label for="firstName" class="form-label">Имя</label>
							<input type="text" class="form-control" name="first_name" placeholder="" value="" required>
						</div>

						<div class="col-sm-6">
							<label for="lastName" class="form-label">Фамилия</label>
							<input type="text" class="form-control" name="last_name" placeholder="" value="" required>
						</div>

						<div class="col-12">
							<label for="username" class="form-label">Логин</label>
							<div class="input-group has-validation">
								<span class="input-group-text">@</span>
								<input type="text" class="form-control" name="username" placeholder="Username" required>
							</div>
						</div>
						
						<div class="col-12">
							<label for="email" class="form-label">E-mail<span class="text-muted">(Необязательно)</span></label>
							<input type="email" class="form-control" name="email" placeholder="you@example.com">
						</div>
						
						<div class="col-12">
							<label for="password" class="form-label">Пароль</label>
							<input type="password" class="form-control" name="psw" placeholder="****" required>
						</div>
					</div>

					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="agree">
						<label class="form-check-label" for="same-address">Я согласен с условиями соглашения</label>
					</div>
					
					<hr class="my-4">

					<button class="w-100 button-form orange-button btn-lg" type="submit">Зарегистрироваться</button>
				</form>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}
</body>
</html>
